#board {
    cursor: pointer;
    padding: 3em;
    text-align: center;
}

.row > div   {
    height: 100px;
    width: 100px;
    float: left;
}
button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--purple);
    color: blue;
    border-color: var(--purple);
    font-size: 10px;
    transition: 200ms transform;
}

.row {

    clear: both;
    margin: 0 auto;
    width: 302px;
}
.top {
    border-bottom: 1px black solid;
}

.bottom{
    border-top: 1px black solid;
}
.left{
    border-right: 1px black solid;

}
.right{

    border-left: 1px black solid;
}
